body {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	background-color: silver;
	color: #040486;
}

a {
	color: #040486;
	text-decoration: none;
	background-color: rgba(254, 255, 0, 0.40);
}

a:hover {
	color: red;
}

h1 {
	border-top-style: solid;
}

